<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    // leaflets
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    // KoreanTmsProviders
    <script src="/js/KoreanTmsProviders/lib/proj4.js"></script>
    <script src="/js/KoreanTmsProviders/lib/proj4leaflet.js"></script>
    <script src="/js/KoreanTmsProviders/src/Leaflet.KoreanTmsProviders.js"></script>
    // Geocoder
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div id = "map" class="map" style="width:100%;height:100vh;"></div>

    <script>
        console.log("L",L);
//        var map = L.map('map', {
//            center: [51.505, -0.09],
//            zoom: 13
//        });

//        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}',
//         {foo: 'bar', attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        var map = new L.Map('map', {
			  center: new L.LatLng(35.849957, 128.520305), //중심점 : 대구 위경도 좌표
			  zoom: 8,	//Leaflet.KoreanTmsProviders.js : resolutions기준 줌 레벨(Level 12)
			  crs: L.Proj.CRS.Daum, //Leaflet.KoreanTmsProviders.js : 새로 정의된 Daum Map CRS
			  worldCopyJump: false,  //https://leafletjs.com/reference-1.3.2.html#map-worldcopyjump 참조
		});
        var baseLayers = L.tileLayer.koreaProvider('DaumMap.Street').addTo(map);

        // GEOCODER 추가
        var geocoder = L.Control.geocoder({defaultMarkGeocode: false}).on('markgeocode',function(e){})
                        .addTo(map);


        // 중심좌표 마커 추가
        var centerMarker = L.marker([35.849957, 128.520305]).addTo(map);
        // 툴팁 추가
        centerMarker.bindTooltip('<b>중심좌표 tooltip</>',{direction : 'top', permanent : false,offset : [-15,-15]});

        // 팝업 추가
        centerMarker.bindPopup('<div style="width:150px;height:150px;background-color:white;">TEST</div>',{});

        // 중심좌표에 이벤트 추가
        centerMarker.on('mouseover', function(e){
            console.log('mouseover',e);
            this.openTooltip();
        })
        centerMarker.on('mouseout', function(e){
            console.log('mouseout',e);
        })
        centerMarker.on('click', function(e){
            console.log('click',e);
            this.openPopup();
        })

        map.on('click', function(e){
            console.log('map click',e);
            console.log('lat,lng:',e.latlng);

            axios.get(`/openWeather/get/${e.latlng.lat}/${e.latlng.lng}`)
            .then(resp=>{
            console.log(resp)

            var newMarker = L.marker([`${e.latlng.lat}`,`${e.latlng.lng}`]).addTo(map);

            // 툴팁 추가
            newMarker.bindTooltip(`${e.latlng.lat}`/`${e.latlng.lng}`,{direction : 'top', permanent : false,offset : [-15,-15]});
            // 팝업 추가
            newMarker.bindPopup('<div style="width:150px;height:150px;background-color:white;">TEST</div>',{});
            // 중심좌표에 이벤트 추가
            newMarker.on('mouseover', function(e){
                console.log('mouseover',e);
                this.openTooltip();
            })
            newMarker.on('mouseout', function(e){
                console.log('mouseout',e);
            })
            newMarker.on('click', function(e){
                console.log('click',e);
                this.openPopup();
            })

            })


            .catch(err=>{console.log(err)});
        })



      // GeoJSON 데이터
        const geojsonData = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [129.0756, 35.1796]
                    },
                    "properties": {
                        "name": "부산",
                        "description": "부산광역시 중심"
                    }
                },
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [128.53060468539817,35.8586617058546],
                                [128.53748989598694,35.85864586938795],
                                [128.53721396133116,35.850088447415196],
                                [128.5306445007113,35.849217105348906],
                            ]
                        ]
                    },
                    "properties": {
                        "name": "Polygon Example",
                        "description": "샘플 폴리곤 영역"
                    }
                }
            ]
        };

        // GeoJSON 레이어 추가
        L.geoJSON(geojsonData, {
            style: function (feature) {
                return {
                    color: 'blue',
                    fillColor: 'yellow',
                    fillOpacity: 0.5,
                    weight: 2};
                }
            }).bindPopup(function (layer) {
            return layer.feature.properties.description;
        }).addTo(map);


        const geoJsonLayer = L.geoJSON(geojsonData, {
            onEachFeature: (feature, layer) => {
                if (feature.properties && feature.properties.name) {
                    layer.bindPopup(`<b>${feature.properties.name}</b><br>${feature.properties.description}`);
                }
            },
            style: (feature) => {
                return {
                    color: 'blue',
                    fillColor: 'yellow',
                    fillOpacity: 0.5,
                    weight: 2
                };
            },
            pointToLayer: (feature, latlng) => {
                return L.circleMarker(latlng, {
                    radius: 8,
                    fillColor: 'red',
                    color: '#000',
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.8
                });
            }
        });

        geoJsonLayer.addTo(map);

        axios.get("/data/hangjeongdong.geojson")
        .then(resp=>{
            console.log(resp)
            L.geoJSON(resp.data, {
            style: function (feature) {
                return {
                    color: 'blue',
                    fillColor: 'yellow',
                    fillOpacity: 0.5,
                    weight: 2};
                }
            }).bindPopup(function (layer) {
            return layer.feature.properties.description;
        }).addTo(map);
        })
        .catch(err=>{console.log(err)});





    </script>
</body>
</html>