<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org.dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.domain.mapper.MemoMapper">
	<insert id="Insert_xml" parameterType="com.example.demo.domain.dto.MemoDto">
		insert into tbl_memo values(null,#{text},#{writer},now())
		
	</insert>
	

</mapper>