<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
    <h1> THIS IS MAIN PAGE </h1>
    <button onclick="requestPay()">결제 요청</button>
    <hr>
    <input text="phone">
    <button onclick="certificate()">본인인증</button>


    <script>
        IMP.init("imp64271607");

        function requestPay() {
          IMP.request_pay({
            channelKey: "channel-key-53a98a5c-1d53-45b8-9c8c-37fa25f3a7c0",
            pay_method: "phone",
            merchant_uid: `new Data().getTime()`,
            name: "테스트 결제",
            amount: 100,
            buyer_tel: "010-0000-0000",
            },function(resp){
                console.log(resp);
          });
        }

        function certificate() {
          IMP.certification({
            channelKey: "channel-key-d08285f2-7087-4650-867b-18251373817b",
            merchant_uid: "A010002002",
          },function(resp){
          console.log(resp);})
        }
    </script>
</body>
</html>